{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<div class="max-w-lg mx-auto mt-10">
    <div class="max-w-lg mb-10">
        <a href="{% url 'signup' %}" class="text-gray-700 hover:text-blue-500 mt-3">Don't have an account?</a>
        <hr>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Login</button>
    </form>
    <a href="{% url 'reset-password' %}" class="text-gray-700 hover:text-blue-500 mt-3">Forgot password?</a>
</div>

{% endblock content %}