<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <a href="/leads">Go back to leads</a>
    <hr>
    <h1>Create a new lead</h1>
    <form method="post"> <!-- "post" to create/update. "get" to fetching, searching-->
        <!-- action="" is the url you want to submit this data to -->
        <!-- action="." to submit data to the url you're currently on-->
        <!-- action="/leads/another-url/" you need to have this path in your urls.py-->
        {% csrf_token %} <!-- hides important info-->
        {{ form.as_p }} <!-- as paragraph --> 
        <button type="submit">Submit</button>
    
    </form>
</body>
</html>