{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
        <div class="w-1/2">
            <img src="{% static 'images/3d-flying-man.png' %}">
        </div>
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                CRM built with Django
            </h1>
            <p class="mb-8 leading-relaxed">
                This CRM helps you manage your leads.
            </p>
            <div class="flex justify-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'leads:lead-list' %}" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
                        Get started
                    </a>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <a href="{% url 'signup' %}" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">
                    Signup
                </a>
                <a href="{% url 'login' %}" class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">
                    Login
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}